dist: bionic

language: python
python:
  - "3.7"
  - "3.8"
  - "nightly"

matrix:
  allow_failures:
      - python: "nightly"

install:
  - pip install -r requirements-dev.txt
  - pip install .

script:
  - bash scripts/test.sh

after_script:
  - bash <(curl -s https://codecov.io/bash)