[tool.poetry]
name = "sas7bdat_converter"
version = "1.0.1"
description = "Convert sas7bdat and xport files into other formats"
authors = ["Paul Sanders <psanders1@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/sanders41/sas7bdat-converter"
homepage = "https://github.com/sanders41/sas7bdat-converter"
documentation = "https://github.com/sanders41/sas7bdat-converter"
keywords = ["sas", "sas7bdat", "converter", "xpt", "XPort"]
classifiers=[
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
include = ["sas7bdat_converter/py.typed"]

[tool.poetry.dependencies]
python = "^3.7.1"
pandas = "^1.2.0"
openpyxl = {version = "^3.0.5", optional = true}

[tool.poetry.dev-dependencies]
black = "^21.5b2"
flake8 = "^3.9.2"
isort = "^5.8.0"
mypy = "^0.901"
pre-commit = "^2.12.1"
pytest = "^6.2.3"
pytest-cov = "^2.12.1"
tox = "^3.23.1"
openpyxl = "^3.0.5"

[tool.poetry.extras]
excel = ["openpyxl"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100
target-version = ['py38']
include = '\.pyi?$'
exclude = '''
/(
    \.egg
  | \.git
  | \.hg
  | \.mypy_cache
  | \.nox
  | \.tox
  | \.venv
  | \venv
  | _build
  | buck-out
  | build
  | dist
  | setup.py
)/
'''

[tool.isort]
profile = "black"
line_length = 100
src_paths = ["sas7bdat_converter", "tests"]

[tool.mypy]
disallow_untyped_defs = true
strict = true

[[tool.mypy.overrides]]
module = ["numpy.*", "pandas.*"]
ignore_missing_imports = true
