[tool.poetry]
name = "sas7bdat_converter"
version = "0.8.5"
description = "Convert sas7bdat and xport files into other formats"
authors = ["Paul Sanders <psanders1@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/sanders41/sas7bdat_converter"
homepage = "https://github.com/sanders41/sas7bdat_converter"
documentation = "https://github.com/sanders41/sas7bdat_converter"
keywords = ["sas", "sas7bdat", "converter", "xpt", "XPort"]
classifiers=[
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]

[tool.poetry.dependencies]
python = "^3.7.1"
pandas = "^1.2.0"
openpyxl = {version = "^3.0.5", optional = true}

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.8.4"
isort = "^5.6.4"
mypy = "^0.800"
pre-commit = "^2.10.0"
pytest = "^6.1.2"
pytest-cov = "^2.11.1"
tox = "^3.21.4"
openpyxl = "^3.0.5"

[tool.poetry.extras]
excel = ["openpyxl"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100
target-version = ['py38']
include = '\.pyi?$'
exclude = '''
/(
    \.egg
  | \.git
  | \.hg
  | \.mypy_cache
  | \.nox
  | \.tox
  | \.venv
  | \venv
  | _build
  | buck-out
  | build
  | dist
  | setup.py
)/
'''

[tool.isort]
profile = "black"
line_length = 100
src_paths = ["sas7bdat_converter", "tests"]
